header {
    padding: 3rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--palm);
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--butter);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--palm);
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: var(--palm);
}


#new-task-submit {
    color: var(--natural);
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--cocount);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#-new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

.priority {
    margin-right: 10px;
    color: var(--natural);
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--cocount);
    -webkit-background-clip: text;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    outline: none;
}

.form-input {
    display: flex;
    flex-direction: row;
}

.form-input #new-task-input {
    width: 30rem;
}

#new-task-desc {
    margin-top: 10px;
    width: 50rem;
    background-color: var(--butter);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--palm);
    font-size: 1.25rem;
}

#new-task-desc::placeholder {
    color: var(--palm);
}
