.task-card {
    background-color: var(--natural);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.task-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.task-info {
    font-size: 18px;
    text-align: left;
}

.task-info p {
    margin: 10px 0;
}

.task-info strong {
    font-weight: bold;
}

/* Дополнительные стили для улучшения читаемости текста */
#taskTitle {
    color: #333;
}

#taskDescription {
    color: #666;
}

#taskDate {
    color: #999;
}

#taskPriority {
    color: #0074e4;
    font-weight: bold;
}