.task-card {
    background-color: var(--butter);
    color: var(--palm);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.task-card h2 { 
    font-size: 32px;
    margin: 10px;
}

.task-card p {
    font-weight: 700;
}