@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos&display=swap');

body {
    margin: 0;
    background-color: black;
}

a {
    list-style-type: none;
}

button {
    display: block;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    transition: .4s;
    cursor: pointer;
}

.container {
    margin: 0px 264px;
}

.header {
    background-image: url(/assets/car-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.nav {
    padding: 40px 0px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.nav-link {
    color: rgba(255, 255, 255, 0.486);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.nav-link:hover {
    color: #FFF;
}

.header-text {
    color: white;
    font-family: Genos;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    font-family: 'Genos', sans-serif;
    margin: 30px
}
