h1 {
  color: #333; 
  text-align: center;
  padding: 20px 0;
}

div {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.car-item {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-item h3 {
  color: #333;
  font-size: 1.5em;
}

.car-item p {
  color: #666;
  font-size: 1em;
  margin: 5px 0;
}

button {
  background-color: #dc3545; 
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1em;
}

button:hover {
  background-color: #c82333;
}


a {
  color: #007bff; 
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

.loading, .error {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1 {
  color: #333; 
  text-align: center;
  padding: 20px 0;
}

form {
  background-color: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

p {
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
}


button:focus {
  outline: none;
}

@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  button {
    padding: 10px 15px;
  }
}
